/*
  App
*/

// Variables
$levels__header-nav: 100;
$levels__loader: 90;
$levels__property-gallery-control: 80;

$color__catholic-flourish: #6701C1;
$color__accent-gray: #4A4A4A;
$color__footnote-text: #4A4A4A;

// Include base settings
@include reset();
@include fonts();
@include standard-typography();
