
.zeroHeight{
	height: 0 !important;
}

.halfHeight{
	height: 60vh !important;
}
.tallHeight{
	height: 105vh !important;
}

.library {
	padding: 1rem 0;
	margin: 0 auto;
	max-width: 42rem;
}

.library__text {
	margin: 0 auto;
	max-width: 40rem;
}

.library__hed {
	font-size: 1.25rem;
	text-transform: uppercase;
	font-weight: 700;
	margin-bottom: 1rem;
}


.library__review {

}

.library__demo {
	text-transform: uppercase;
}

.library__code {
	font-size: 0.85rem;
	height: 20vh;
	overflow: hidden;
	position: relative;
}

.library__code.is-expand {
	height: auto;
}

.library__code:after {
	content: '';
	display: block;
	width: 100%;
	position: absolute;
	left: 0;
	bottom: 0;
	height: 3rem;
	background-image: linear-gradient(to bottom,rgba(0,0,0,0),rgba(39, 40, 34, 1) 80%);
}

.code__button {
	display: block;
	width: 100%;
	background: #1a1a1a;
	color: #efefef;
	border-top: 1px solid #666;
	padding: 0.5rem;
	text-align: center;
	text-transform: uppercase;
	font-size: 0.9rem;
	font-weight: 700;
	cursor: pointer;
}

.code__button:hover {
	background-color: #f33;
}

.back-to-blog {
	text-align: center;
}

.demo-links {
	height: 100%;
	overflow: hidden;
	max-width: 40rem;
	margin: 0 auto;
	text-align: center;
}

.demo-links li {
	float: left;
	margin-right: 1rem;
}

/* GRAPHIC CODE */


.graphic {
	width: 100%;
	position: relative;
	left: -88px;
}

.graphic__prose {
	width: 17rem;
}

.graphic__prose .trigger {
	padding: 0;
	margin: 0;
	min-height: 240px;

	height: 913.5px;
	
}

.trigger div {
	background: #F4F5F7;
    padding: 6% 21px;
    font-size: 15px;
    line-height: 1.5;
    color: #2e2e2e;
    /* margin: 0; */
    border-radius: 8px;
}
.trigger div h3{
	font-weight: 600;
    font-size: 20px;
}
.trigger div p{
	margin: 0;
    font-family: 'PT Sans', sans-serif;
    font-size: 17px;
    line-height: 1.5;
}

.graphic__vis {
	position: absolute;
	top: 0;
	margin-left: 18rem;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	height: 100vh;
}

.graphic__vis.is-fixed {
	position: fixed;
}

.graphic__vis.is-bottom {
	top: auto;
	bottom: 0;
}

.graphic__vis iframe , .graphic_vis div {
	/* border: 1px dashed black; */
	top: 50%;
	position: relative;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	transform: translateY(-50%);


}



.item circle {
	stroke: #666;
	stroke-width: 1px;
	fill: #fff;
}

.item text {
	fill: #666;
	font-size: 12px;
	text-anchor: middle;
	alignment-baseline: middle;
}



/* graph-scroll.js version */
.graphic__vis.graph-scroll-fixed {
	position: fixed;
	right: auto;
}

.graphic__vis.graph-scroll-below {
	top: auto;
	bottom: 0;
}



.svgContainer{
	/* height: 90vh;
	padding: 24% 0 0;
	 */
	height: 100vh;
    padding: 0 0 0;
}

.svgContainer-B {
	padding: 20% 0 0;
}


.sc-iframe{
	height: 85vh;	
}

.sc-iframe-B{
    height: 95vh;
}


hr.pez_top_line {
	position: fixed;
	width: 830px;
	top: 150px;
	z-index: 99999999;
}

hr.pez_bottom_line {
	position: fixed;
	width: 830px;
	top: 150px;
	z-index: 99999999;
}



/*  LEGEND */
.legendHolder{
	max-width: 474px;
  }

  .mac { background: #4A90E2;}
.usyd { background: #D0021B;}
.nsw { background: #F5A623;}
.uts { background: #7ED321;}
.wsu { background: #0A1633;}

.key-dot {
  display: inline-block;
  height: 7px;
  margin-right: .5em;
  width: 30px;
  border-radius: 6px;

}


.legend1 {
	display: inline-block;
	margin: 0 -19px;
  }
  
  .country-name {
	margin: 0 !important;
	font-size: 12px;
	color: #2E2E2E;
  }  

/* 

@media only screen and (max-width: 768px) {

		
	.graphic__prose {
		width: 100%;
		position: relative;
		z-index: 99;

	}
	.graphic__vis {

		margin-left: 100px;
		width: 100%;

	}
	.graphic {
		left: 0;
	}

	.graphic__prose .trigger {
		width: 85%;
	}
	.library {
		margin: 0 auto 80px;
	}

	.graphic__vis iframe, .graphic_vis div {
		top: 0;
		transform: translateY(0);
	  }

	  .graphic__vis.is-fixed {
		margin-left: 100px;
	}

		
	.svgContainer{
		width: 100%;
		height: 100vh;
		padding: 17% 0 0;
	}
	.trigger div {
		padding: 3% 21px 3%;
		width: 327px;
	}
	
	.sc-iframe{
		width: 100%;
		height: 100vh;	
	}

	.trigger div p {
		margin: 0 0 17px 0;
		text-align: center;
	}


} */



@media only screen and (max-width: 600px) {

	

	.graphic__prose {
		width: 100%;
		position: relative;
		z-index: 99;
		/* left: 10px; */
	}
	.graphic__vis {

		margin-left: 0;
		width: 100%;
		/* top: 20%; */
	}
	.graphic {
		left: 0;
	}

	.graphic__prose .trigger {
		width: 85%;
	}
	.library {
		margin: 0 auto 80px;
	}

	.graphic__vis iframe, .graphic_vis div {
		/* border: 1px dashed black; */
		top: 0;
		transform: translateY(0);
	  }

	  .graphic__vis.is-fixed {
		margin-left: 0;
	}

		
	.svgContainer{
		width: 100%;
		height: 100vh;
		padding: 17% 0 0;
	}
	.trigger div {
		padding: 3% 21px 3%;
		width: 327px;
	}
	
	.sc-iframe{
		width: 100%;
		height: 100vh;	
	}

	.trigger div p {
		margin: 0 0 17px 0;
		text-align: center;
	}


}
