
.chartHolder{
  width: 500px;
  height: 70vh;
}
.chartHolder-B{
  width: 500px;
  height: 70vh;
}



/*  LEGEND */
 .legendHolder{
  max-width: 474px;
}
.mac { background: #4A90E2;}
.usyd { background: #D0021B;}
.nsw { background: #F5A623;}
.uts { background: #7ED321;}
.wsu { background: #0A1633;}

.key-dot {
  display: inline-block;
  height: 7px;
  margin-right: .5em;
  width: 30px;
  border-radius: 6px;

}
.country-name {
  margin: 0 !important;
  font-size: 12px;
  color: #2E2E2E;
}
.c-name{
  font-size: 15px;
  margin: 0 0 7px 0;
  line-height: 19px;
}
.legend1 {
  display: inline-block;
  margin: 0 20px 6px 0;
}


svg#chart1{
  width: 450px;
  /* height: 100vh; */
  overflow: visible;
}
path.line {
    fill: none;
    stroke: #666;
    stroke-width: 1.5px;
  }

  path.lineB {
    fill: none;
    stroke: #666;
    stroke-width: 1.5px;
  }
  
  path.lineC {
    fill: none;
    stroke: #666;
    stroke-width: 1.5px;
  }
  path.area {
    fill: #e7e7e7;
  }
  
  .axis {
    shape-rendering: crispEdges;
    text-anchor: end;
    fill: #2e2e2e;
    font-size: 13px;
  }
  
  .x.axis line {
    stroke: #fff;
  }
  
  .x.axis .minor {
    stroke-opacity: .5;
  }
  
  .x.axis path {
    display: none;
  }
  
  .y.axis line, .y.axis path {
    fill: none;
    stroke: #ffffff;
  }
  .guideline {
    margin-right: 100px;
    float: right;
  }


.grid .tick {
  stroke: lightgrey;
  opacity: 0.7 !important;
}
.grid path {
    stroke-width: 0;
}

.source {
  font-size: 13px;
    color: #838383;
    line-height: 17px;
    margin: 2px 0;
    padding: 0;
}


.tt-800{
  top: 20rem !important;
}
.tt-1100{
  top: 29rem !important;
}

/*
Tool tip

*/

.pez_tooltip {
  position: absolute;
  left: 10%;
  border-radius: 4px;
  top: -230px;
  background: #0A1633;
  border: 1px solid #0A1633;
  color: white;
  width: 134px;
  height: 78px;
  text-align: center;

  opacity: 0;
 
  transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -webkit-transition: all .25s;
}


/* #tt1{
  left: 16%;
  top: 52%;
}
#tt2{
  left: 40%;
  top: 16%;
} */


#tt2{
  left: 18rem;
    top: 10rem;
}    

#tt1{
  left: 10rem;
top: 17rem;
}





.pez_tooltip:after, .pez_tooltip:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
  pointer-events: none;
  
}


.pez_tooltip:after {
  border-color: rgba(136, 183, 213, 0);
  border-top-color: #0A1633;
  border-width: 9px;
  margin-left: -3px;
}
.pez_tooltip:before {
  border-color: rgba(194, 225, 245, 0);
    border-top-color: #0A1633;
    border-width: 11px;
    margin-left: -6px;
}
#tt2.pez_tooltip:after, #tt2.pez_tooltip:before {
	left: 103%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

#tt2.pez_tooltip:after {
	border-color: rgba(136, 183, 213, 0);
	border-left-color: #0A1633;
  border-width: 10px;
  margin-top: -10px;
}
#tt2.pez_tooltip:before {
	border-color: rgba(194, 225, 245, 0);
	border-left-color: #0A1633;
  border-width: 11px;
  margin-top: -13px;
}


p.tthead {
  font-weight: 800;
  font-size: 15px;
  padding-bottom: 0;
  margin-top: 5px;
}
.pez_tooltip p {
  font-size: 13px;
    margin: 0;
    padding:8px 6px 0;
    line-height: 1.2;
    font-weight: bold;
}



a.sourceLink {
  color: #616161;
  text-decoration: none;
  border-bottom: none;
}

a.sourceLink:hover {
  color: #363636;
}



  @media only screen and (max-width: 600px) {

    .c-name {
      margin: 0 0 7px 19px;
  }

    .chartHolder{
      height: 65vh;
      padding: 0;
      width: 88%;
      margin: 0 0 0 5px;
    }
    

    .chartHolder-B{
      height: 60vh;
      padding: 0;
      width: 88%;
      margin: 0 0 0 5px;
    }
    

  /* #tt1{
    top: 42%;
  }
  #tt2 {
    left: 34%;
} */

#tt2 {
  left: 9rem;
  top: 8rem;
}

#tt1 {
  left: 4rem;
  top: 16rem;
}
      
  .key-dot {
    width: 15px;
  }
    
    .legendHolder{
      margin: 0;
      padding: 0 0 0 20px;
      line-height: 13px;

    }

    svg#chart1{
      width: 80%;
 
    }
    .trigger {
       
    }

    .source {
      margin: 8px 0 9px 18px;
    }



    
  } 