/*
  Article section
*/

//
// Mobile
// ------------------------------------------------------------------------

.article-section {
  
  width: 100%;
  padding: 1rem 0;

  em {
    font-style: italic;
  }
}


.article-section__header,
.article-section__super-subsection,
.article-section__subsection {
  
  margin: 0 auto;
  padding: 0 20px;

  position: relative;
}


.article-section__super-subsection,
.article-section__subsection {
  .drop-cap {
    @include drop-cap(1rem);
  }
}

.article-section__header {

  margin-bottom: 16px;
}

.article-section__subsection__social {
  @include social-button-container();

  width: 32px;
  padding: 8px 0;

  display: none;
  
  position: absolute;
  top: 0px;
  left: -56px;
}

.article-section__subsection__social__button {
  @include social-button();

  margin: 0 auto;

  &:not(:first-child) {
    margin: 8px auto 0 auto;
  }
}

.article-section__subsection__introduction {
  @include fonts__sans-serif;
  font-size: 16px;
  line-height: 1.25;
}

.calculations {

  ul {
    list-style: disc;
    list-style-position: outside;
    padding-left: 20px;
  }
}

.article-section__super-subsection img{
  width: 100%;
}

//
// Desktop
// ------------------------------------------------------------------------

@include break-point("at least", "small") {

  .article-section {
    
    width: 100%;
    padding: 1rem 0;
  }

  .article-section__header,
  .article-section__subsection {

    max-width: 640px;
  }

  .article-section__super-subsection {
    max-width: 100%;
  }

  .article-section__super-subsection img{
    width: 100%;

  }
}


@include break-point("at least", "medium") {
  
  .article-section__subsection__social {
    display: block;
  }

  .social-button__whatsapp {
    display: none;
  }

    


}

@include break-point("at least", "large") {

  .article-section__super-subsection {
    max-width: 940px;
  }

  .article-section__super-subsection img{
    width: 100%;

  }


}


