/*
  Article header
*/

//
// Mobile
// ------------------------------------------------------------------------

.article-header {

  text-align: center;

  padding: 0 1.2rem 1.2rem 1.2rem;

}



.article-header__images {
  
  text-align: center;
  font-size: 0;
  
  margin-bottom: 24px;

  height: 100px;
}

.article-header__images__image {
  max-height: 127px;
}

.article-header__topic {

  @include fonts__sans-serif;
  letter-spacing: 1px;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 700;

  a {
    text-decoration: none;
    color: #096DD2;
    transition: color 300ms ease;
  }

  a:hover {
    text-decoration: underline;
  }
}

.article-header__title {
  
  margin: 0 auto 16px auto;

  max-width: 720px;
}

.article-header__break {
  max-width: 167px;
  border-top: 1px solid $color__mischka;
  margin: 36px auto 0 auto;
}

.article-header__subtitle {
  
  @include fonts__serif;
  font-size: 20px;
  font-size: 1.25rem;

  max-width: 720px;

  margin: 0 auto 16px auto;

  em {
    font-style: italic;
  }
}


.article-header__author {
  
  @include fonts__sans-serif;
  font-size: 16px;
  color: $color__dove-gray;
  margin-bottom: 0;
}

.article-header__date {

  @include fonts__sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
  color: $color__dove-gray;
}

.article-header__social {
  @include social-button-container();

  min-width: 180px;
  padding: 8px 0;
  margin-bottom: 16px;
}

.article-header__social__button {
  @include social-button();
}

//
// Desktop
// ------------------------------------------------------------------------

@include break-point("at least", "small") {

  .article-header__subtitle {

    font-size: 24px;
    font-size: to-unit(rem, 24px);
  }

  .article-header__images {
    height: 256px;
  }

  .article-header__images__image {
    max-height: 280px;
  }

  
  
}


@include break-point("at least", "medium") {

  .article-header__social {
    display: none;
  }

  .article-header__break {
    border-top: 2px solid $color__mischka;
    margin: 36px auto;
  }

  .article-header {

    text-align: center;
  
    padding: 1rem 1.2rem 1.2rem 1.2rem;
  }

  .article-header__images {
    margin-bottom: 4px;
    margin-top: 40px;

  }
  
}