/*
  Article credits
*/

//
// Mobile
// ------------------------------------------------------------------------

.article-credits__header {
  @include fonts__sans-serif;
  letter-spacing: 1px;
  font-size: 1rem;
  text-transform: uppercase;
  padding: 16px 0;

  border-top: 3px solid $color__brand;
  border-bottom: 1px solid $color__mischka;

}

.article-credits__list {
  list-style: none;
  padding: 16px 0;
}

.article-credits__list__item {
  @include fonts__sans-serif;

  display: inline;
  margin-right: 8px;
  line-height: 1.6;
}

.article-credits__list__item__role {
  font-weight: 700;
  text-transform: uppercase;
}

// Journotips
.journotips {
  @include fonts__serif;
  font-weight: 700;
  margin-bottom: 24px;

  a {
    color: $color__action;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
    text-underline-position: under;
  }
}

// Subscibe
.subscribe {  

  p {
    @include fonts__sans-serif;
    padding-left: 16px;
    flex-grow: 1;
    color: #fff;
    font-size: 16px;
    line-height: 1.4;
    margin-bottom: 0;
  }
}

.subscribe__inner {
  padding: 16px 20px;
  background: $color__brand;


  display: flex;
  justify-content: center;
  align-items: center;
}

.subscribe__inner__button {
  @include button();

  flex-grow: 1;

  a {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}