/*
  Bar chart
*/

//
// Mobile
// ------------------------------------------------------------------------

.bar-chart__title {
  margin-bottom: 16px;
}

.bar-chart__subtitle {
  @include fonts__sans-serif;
  font-size: 16px;
  line-height: 1.25;
}

// Canvas
.bar-chart__canvas {
  display: flex;
  @include fonts__sans-serif;

  margin-bottom: 16px;
}

// Row
.bar-chart__canvas__row {
  margin-bottom: 12px;
  padding: 8px 0;

  flex-grow: 1;
  flex-basis: 42.5px;

  position: relative;

  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: center;
}

.bar-chart__canvas__row:last-of-type {
  margin-bottom: 0;
}

.bar-chart__canvas__row--catholic-church {

  flex-grow: 2;
  flex-basis: 80px;
}

// Labels
.bar-chart__canvas__labels {
  flex: 3;
  flex-basis: 30%;

  padding: 16px 12px 16px 0;

  display: flex;
  flex-direction: column;

  font-size: 13px;
  color: $color__mine-shaft;
  text-align: right;

  border-right: 1px solid $color__mine-shaft;
}

// Bars
.bar-chart__canvas__bars {
  flex: 7;
  flex-basis: 65%;

  padding: 16px 12px 16px 0;

  display: flex;
  display: -webkit-flex;
  flex-direction: column;

  font-size: 13px;
  color: #fff;
  font-weight: 700;

  position: relative;
}

.bar-chart__canvas__bars__bar {
  background: $color__brand;
  padding: 8px 0;
  max-width: 0;
  overflow: hidden;

  transition: max-width 250ms cubic-bezier(0.25, 0.1, 0.65, 1.29);

  border-radius: 2px;

  span {
    display: block;
    padding-left: 8px;

    transition: opacity 350ms ease;
    opacity: 0;
  }
}

.bar-chart__canvas__row--catholic-church {

  &.bar-chart__canvas__bars__bar {
    background: $color__catholic-flourish;
    background: linear-gradient(to right, $color__catholic-flourish 45%, transparent 99%);
  }
}

.bar-chart.is--active {
  
  $transition-delay-increment: 100ms;
  $catholic-church-transition-time: 1250ms;

  $max-billions: 36.5;
  
  $catholic-church-billions: 30;
  $scentre-group-billions: 34.2;
  $stockland-billions: 16.2;
  $general-property-trust-billions: 12.3;
  $dexus-billions: 11.8;
  $goodman-billions: 9.1;


  .bar-chart__canvas__bars__bar {
    span {
      opacity: 1;
    }
  }

  .bar-chart__canvas__row--catholic-church {

    &.bar-chart__canvas__bars__bar {
      max-width: ($catholic-church-billions / $max-billions) * 100%;
      transition-delay: 1 * $transition-delay-increment;

      transition: max-width $catholic-church-transition-time linear;

      span {
        transition-delay: $catholic-church-transition-time + 250ms;
      }
    }
  }

  .bar-chart__canvas__row--scentre-group {

    &.bar-chart__canvas__bars__bar {
      max-width: ($scentre-group-billions / $max-billions) * 100%;
      transition-delay: 2 * $transition-delay-increment;
      
      span {
        transition-delay: (2 * $transition-delay-increment) + 250ms;
      }
    } 
  }

  .bar-chart__canvas__row--stockland {

    &.bar-chart__canvas__bars__bar {
      max-width: ($stockland-billions / $max-billions) * 100%;
      transition-delay: 3 * $transition-delay-increment;
      
      span {
        transition-delay: (3 * $transition-delay-increment) + 250ms;
      }
    }
  }

  .bar-chart__canvas__row--general-property-trust {

    &.bar-chart__canvas__bars__bar {
      max-width: ($general-property-trust-billions / $max-billions) * 100%;
      transition-delay: 4 * $transition-delay-increment;
      
      span {
        transition-delay: (4 * $transition-delay-increment) + 250ms;
      }
    }
  }

  .bar-chart__canvas__row--dexus {

    &.bar-chart__canvas__bars__bar {
      max-width: ($dexus-billions / $max-billions) * 100%;
      transition-delay: 5 * $transition-delay-increment;
      
      span {
        transition-delay: (5 * $transition-delay-increment) + 250ms;
      }
    }
  }

  .bar-chart__canvas__row--goodman {

    &.bar-chart__canvas__bars__bar {
      max-width: ($goodman-billions / $max-billions) * 100%;
      transition-delay: 6 * $transition-delay-increment;
      
      span {
        transition-delay: (6 * $transition-delay-increment) + 250ms;
      }
    }
  }
}

// Source
.bar-chart__source {
  @include fonts__sans-serif;
  font-style: italic;
  color: $color__footnote-text;
  font-size: 13px;

  padding: 16px;
  background: $color__gray--very-light;
  border-top: 1px solid $color__border-red;

  overflow: hidden; 
}

// Vertical lines
.bar-chart__canvas__bars__vertical-line {
  border-left: 1px solid $color__mischka;

  position: absolute;
  top: 0;
  z-index: -1;

  height: 100%;
}

$vertical-lines: 1, 2, 3, 4, 5, 6, 7, 8;
$number-of-lines: length($vertical-lines);

@each $line in $vertical-lines {
  #bar-chart-vertical-line-#{$line} {
    left: ($line / $number-of-lines) * 100%;
  }
}