/*
  Featured suburb list
*/

//
// Mobile
// ------------------------------------------------------------------------

$color__suburb-name-border-gray: #979797;
$color__off-row-gray: #E9EBEF;

$suburb-image-height: 150px;
$suburb-image-underlay-height: 10px;
$suburb-bottom-visual-bottom-margin: 16px;
$suburb-bottom-visual-bottom-margin--desktop: 24px;
$suburb-bottom-actual-bottom-margin: $suburb-bottom-visual-bottom-margin - $suburb-image-underlay-height;
$suburb-bottom-actual-bottom-margin--desktop: $suburb-bottom-visual-bottom-margin--desktop - $suburb-image-underlay-height;

$suburb-summary-text-line-height: 1.4;

.featured-suburb-list {
  
  display: flex;
  align-items: flex-start;
  justify-items: center;
  flex-wrap: wrap;
}

// Suburb summary
.featured-suburb-list__suburb {
  flex-grow: 1;
  flex-basis: 40%;
  margin-bottom: $suburb-bottom-actual-bottom-margin;
}

.featured-suburb-list__suburb:not(:nth-of-type(2n)) {
  margin-right: 16px;
}

.featured-suburb-list__suburb__image {
  height: $suburb-image-height;
  background-size: cover;

  border: 1px solid #000;
  border-radius: 4px 4px 0 0;

  position: relative;

}

.featured-suburb-list__suburb__summary {

  border: 1px solid #000;
  border-radius: 4px;

  background: #fff;
  padding: 8px;

  position: relative;
  top: $suburb-image-underlay-height * -1;

  h3, p {
    @include fonts__sans-serif;
  }
}

.featured-suburb-list__suburb__summary__name {
  font-size: 16px;
  font-weight: 700;
  line-height: $suburb-summary-text-line-height;

  border-bottom: 1px solid $color__suburb-name-border-gray;
  padding-bottom: 4px;
  margin-bottom: 8px;
}

// >> Properties count
.featured-suburb-list__suburb__summary__properties-count-label {
  font-size: 14px;
  line-height: $suburb-summary-text-line-height;

  margin-bottom: 0;
}

.featured-suburb-list__suburb__summary__properties-count {
  font-size: 16px;
  font-weight: 700;
  line-height: $suburb-summary-text-line-height;

  margin-bottom: 4px;
}

// >> Properties value
.featured-suburb-list__suburb__summary__properties-value-label {
  font-size: 14px;
  margin-bottom: 0;
  line-height: $suburb-summary-text-line-height;
}

.featured-suburb-list__suburb__summary__properties-value {
  color: $color__catholic-flourish;

  font-size: 16px;
  font-weight: 700;
  line-height: $suburb-summary-text-line-height;
}

// >> Details
.featured-suburb-list__suburb__summary__details {
  border: none;
  padding: 0;
  cursor: pointer;
  outline: transparent;
  width: 100%;
  text-align: left;
  background: transparent;
}

.featured-suburb-list__suburb__summary__details__text {
  @include fonts__sans-serif;
  font-weight: 700;
  color: $color__action;
  text-transform: uppercase;
  font-size: 11px;
}

.featured-suburb-list__suburb__summary__details__carat {
  height: 100%;
  color: #767676;
  position: relative;
  top: 4px;
  margin-left: 4px;
}

.featured-suburb-list__suburb.is--in-focus {
  .featured-suburb-list__suburb__summary__details__carat {
    transform: rotate(180deg);
    color: $color__action;
  }
}

// Suburb details 
.featured-suburb-list__details {
  display: none;
  flex-grow: 5;
  flex-basis: 100%;

  padding: 16px 12px 16px 8px;
  margin-bottom: 16px;
  border: 1px solid #000;
  border-radius: 4px;

  position: relative;

  order: 22;
}

.featured-suburb-list__details.is--open {
  display: block;
}

.featured-suburb-list__details:before {
  content: "";
  position: absolute;
  top: -28px;
  left: 50%;
  transform: translateX(-50%);
  border: 14px solid transparent;
  border-bottom-color: #fff;
  display: block;
  width: 0;
  z-index: 2;
}

.featured-suburb-list__details:after {
  content: "";
  position: absolute;
  top: -29px;
  left: 50%;
  transform: translateX(-50%);
  border: 14px solid transparent;
  border-bottom-color: #000;
  display: block;
  width: 0;
  z-index: 1;
}

/*
  Get focus position
  
  Function used to determine where to place the 'speech-bubble pointer' that points out of the
  featured suburb list details panel, indicating which suburb is currently in focus.

  It does this by determining the percentage position, along the panel's width, of the (rough)
  horizontal middle of the suburb element.

  @param { Number } focusIndex - Index of suburb element in focus within its row (starting from 1)
  @param { String } windowSize - String describing size of window (either 'small', 'medium' or
  'large')
*/

@function get-focus-position($focusIndex, $windowSize) {
  
  // Default
  $size-of-suburb-element: 20%;

  @if $windowSize == 'small' {
    $size-of-suburb-element: 50%;
  }
  @else if $windowSize == 'medium' {
    $size-of-suburb-element: 33.333333%;
  }
  @else if $windowSize == 'large' {
    $size-of-suburb-element: 20%;
  }

  $half-size-of-suburb-element: $size-of-suburb-element / 2;

  @return ($focusIndex * $size-of-suburb-element) - $half-size-of-suburb-element;
}

$possible-focuses: 1, 2;

@each $focus in $possible-focuses {
  .featured-suburb-list__details.is--focussed-on-#{$focus}:before,
  .featured-suburb-list__details.is--focussed-on-#{$focus}:after {
    left: get-focus-position($focus, 'small');
  }
}

// >> Suburb details table
$table-scrolling-gutter-width: 18px;

.featured-suburb-list__details__mobile-heading {
  @include fonts__sans-serif;
  padding-bottom: 8px;
  margin-right: $table-scrolling-gutter-width;
  font-size: 16px;

  border-bottom: 1px solid $color__suburb-name-border-gray;
}

.featured-suburb-list__details__table__header {
  display: none;

  padding: 8px;
  margin-right: $table-scrolling-gutter-width;

  border-bottom: 1px solid $color__suburb-name-border-gray;
}

.featured-suburb-list__details__table__header__cell {
  @include fonts__sans-serif;
  font-weight: 700;
  font-size: 13px;

  color: $color__brand;
}

.featured-suburb-list__details__table__name-cell {
  flex-grow: 5;
  flex-basis: 50%;

  font-weight: 700;

  margin-bottom: 4px;
  padding-right: 8px;

  order: 1;
}

.featured-suburb-list__details__table__address-cell {
  flex-grow: 5;
  flex-basis: 30%;

  padding-right: 8px;

  order: 3;
}

.featured-suburb-list__details__table__type-cell {
  flex-grow: 5;
  flex-basis: 50%;

  font-weight: 700;
  text-align: right;

  margin-bottom: 4px;
  padding-right: 8px;

  order: 2;
}

.featured-suburb-list__details__table__value-cell {
  flex-grow: 5;
  flex-basis: 50%;

  text-align: right;

  padding-right: 8px;

  order: 4;
}

.featured-suburb-list__details__table__body {
  max-height: 150px;
  padding-right: 8px;

  overflow-y: auto;
}

.featured-suburb-list__details.is--not-scrolling-height {
  .featured-suburb-list__details__table__body {
    padding-right: $table-scrolling-gutter-width;
  }
}

.featured-suburb-list__details__table__body::-webkit-scrollbar-track {
  background-color: $color__gray--light;

  border-radius: 5px;

  margin: 0;
}

.featured-suburb-list__details__table__body::-webkit-scrollbar {
  width: 10px;
  border-radius: 5px;
}

.featured-suburb-list__details__table__body::-webkit-scrollbar-thumb {
  background-color: $color__action;

  border: 2px solid $color__gray--light;
  border-radius: 5px;
}

.featured-suburb-list__details__table__body__row {
  @include fonts__sans-serif;
  font-size: 12px;

  display: flex;
  flex-wrap: wrap;

  border-bottom: 1px solid #fff;
  background: $color__athens-gray;
  padding: 8px;
}

.featured-suburb-list__details__table__body__row:nth-of-type(2n) {
  background: $color__off-row-gray;
}

// >> Suburb details footer
.featured-suburb-list__details__footer {
  display: flex;
  flex-wrap: wrap;

  padding-top: 8px;
  margin-right: $table-scrolling-gutter-width;

  border-top: 1px solid $color__suburb-name-border-gray;
}

.featured-suburb-list__details__footer__data-note {
  @include fonts__sans-serif;
  font-size: 12px;
  line-height: 1.2;

  flex-grow: 10;
  flex-basis: 100%;

  padding-top: 12px;

  order: 2;
}

.featured-suburb-list__details__footer__total-value {
  @include fonts__sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: $color__catholic-flourish;

  flex-grow: 10;
  flex-basis: 100%;

  text-align: right;
}

// Suburb summary images
$suburb-list:
  'fitzroy',
  'kew',
  'malvern',
  'toorak',
  'brighton',
  'east-melbourne',
  'parkville',
  'heidelberg',
  'mentone',
  'camberwell';

@for $index from 1 through length($suburb-list) {
  $suburb: nth($suburb-list, $index);

  #featured-suburb__#{$suburb} {
    order: $index * 2;

    .featured-suburb-list__suburb__image {
      background-image: url('../img/featured-properties/#{$suburb}.jpg');
    }
  }
}

//
// Tablet or small desktop
// ------------------------------------------------------------------------

@include break-point("at least", "small") {

  // Suburb summary
  .featured-suburb-list__suburb {
    flex-grow: 1;
    flex-basis: 28%;
    max-width: 31.5%;
    margin-bottom: $suburb-bottom-actual-bottom-margin;
  }

  .featured-suburb-list__suburb:not(:nth-of-type(2n)) {
    margin-right: initial;
  }

  .featured-suburb-list__suburb:not(:nth-of-type(3n)) {
    margin-right: 16px;
  }

  .featured-suburb-list__suburb__summary__details {

    &:hover {
      .featured-suburb-list__suburb__summary__details__text {
        text-decoration: underline;
      }

      .featured-suburb-list__suburb__summary__details__carat {
        color: $color__action;
      }
    }
  }

  // Suburb details
  .featured-suburb-list__details {
    padding: 16px 12px;
  }
  $possible-focuses: 1, 2, 3;

  @each $focus in $possible-focuses {
    .featured-suburb-list__details.is--focussed-on-#{$focus}:before,
    .featured-suburb-list__details.is--focussed-on-#{$focus}:after {
      left: get-focus-position($focus, 'medium');
    }
  }

  .featured-suburb-list__details__mobile-heading {
    display: none;
  }

  .featured-suburb-list__details__table__header {
    display: flex;
  }

  .featured-suburb-list__details__table__body__row {
    flex-wrap: nowrap;
  }

  .featured-suburb-list__details__table__name-cell {
    flex-grow: 2;
    flex-basis: 10%;

    margin-bottom: 0;

    order: 1;
  }

  .featured-suburb-list__details__table__address-cell {
    flex-grow: 5;
    flex-basis: 30%;

    order: 2;
  }

  .featured-suburb-list__details__table__type-cell {
    flex-grow: 3;
    flex-basis: 15%;

    text-align: left;

    margin-bottom: 0;

    order: 3;
  }

  .featured-suburb-list__details__table__value-cell {
    flex-grow: 1;
    flex-basis: 5%;

    font-weight: 700;
    text-align: left;

    order: 4;
  }
  .featured-suburb-list__details__footer {
    flex-wrap: nowrap;
  }

  .featured-suburb-list__details__footer__data-note {

    flex-grow: 6;
    flex-basis: 55%;

    padding-top: initial;
    order: initial;
  }

  .featured-suburb-list__details__footer__total-value {

    flex-grow: 4;
    flex-basis: 35%;

    font-size: 20px;
  }
}

//
// Medium desktop and above
// ------------------------------------------------------------------------

@include break-point("at least", "medium") {

  // Suburb summary
  .featured-suburb-list__suburb {
    flex-grow: 1;
    flex-basis: 15%;
    max-width: initial;
    margin-bottom: $suburb-bottom-actual-bottom-margin--desktop;

    transition: 
      transform 200ms ease;

    &:hover {
      cursor: pointer;
      transform: scale(1.075);

      .featured-suburb-list__suburb__summary__details__text {
        text-decoration: underline;
      }
      .featured-suburb-list__suburb__summary__details__carat {
        color: $color__action;
      }
    }
  }

  .featured-suburb-list__suburb__summary {

    transition: box-shadow 200ms ease;

    &:hover {
      box-shadow: 0 2px 2px #dfdfdf;
    }
  }

  .featured-suburb-list__suburb:not(:nth-of-type(3n)) { 
    margin-right: initial;
  }

  .featured-suburb-list__suburb:not(:nth-of-type(5n)) {
    margin-right: 24px;
  }

  // Suburb details
  .featured-suburb-list__details {
    margin-bottom: 24px;
  }

  $possible-focuses: 1, 2, 3, 4, 5;

  @each $focus in $possible-focuses {
    .featured-suburb-list__details.is--focussed-on-#{$focus}:before,
    .featured-suburb-list__details.is--focussed-on-#{$focus}:after {
      left: get-focus-position($focus, 'large');
    }
  }
}