/*
  Footer
*/

//
// Mobile
// ------------------------------------------------------------------------

.footer {
  background: $color__brand;
  padding: 0 20px;
}

.footer__header {
  padding: 8px 0;
  text-align: center;
  border-bottom: 1px solid $color__river-bed;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.footer__header__logo-container {
  flex-grow: 1;
  flex-basis: 100%;
  height: 48px;
}

.footer__header__logo-container__logo {
  display: inline-block;
  position: relative;
  height: 100%;

  // Footer header navigation logo image
  $logo-width-size-percentage: 0.75;

  &.is--the-age {
    $the-age-logo-width: 284px;

    width: $the-age-logo-width * $logo-width-size-percentage;

    .footer__header__logo-container__logo__image {
      background-size: contain;
      background-image: url(lib/ffx-prez-styles/assets/images/logos/fairfax/theage.svg);
    }
  }
  &.is--smh {
    $smh-width: 376px;

    width: $smh-width * $logo-width-size-percentage;

    .footer__header__logo-container__logo__image {
      background-size: contain;
      background-image: url(lib/ffx-prez-styles/assets/images/logos/fairfax/smh.svg);
    }
  }
  &.is--bt {
    $bt-width: 294px;

    width: $bt-width * $logo-width-size-percentage;

    .footer__header__logo-container__logo__image {
      background-size: contain;
      background-image: url(lib/ffx-prez-styles/assets/images/logos/fairfax/brisbanetimes.svg);
    }
  }
  &.is--wa-today {
    $wa-today-width: 178px;
    width: $wa-today-width * $logo-width-size-percentage;

    .footer__header__logo-container__logo__image {
      background-size: contain;
      background-image: url(lib/ffx-prez-styles/assets/images/logos/fairfax/watoday.svg);
    }
  }
}

.footer__header__logo-container__logo__image {

  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

// Header navigation logo link
.footer__header__logo-container__logo__link {

  display: block;
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;
}

.footer__header__social {
  @include social-button-container();

  flex-grow: 1;
  flex-basis: 100%;

  text-align: center;
}

.footer__header__social__button {
  @include social-button(1rem, #fff, $color__action-on-dark);
}

.footer__copyright {
  @include fonts__sans-serif;
  color: #fff;
  padding: 16px 0;
  font-size: 0;

  text-align: center;
} 

.footer__copyright__text {
  font-size: 14px;
  font-size: 0.8rem;

  margin-bottom: 16px;

  width: 100%;
  display: inline-block;
}

.footer__copyright__logo {
  background-size: contain;
  background-image: url(lib/ffx-prez-styles/assets/images/logos/fairfax/fairfaxmedia.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 36px;
  display: inline-block;
}


//
// Desktop
// ------------------------------------------------------------------------

@include break-point("at least", "small") {

  .footer {
    .article-section__super-subsection {
      margin: 0 auto;
    }
  }

  .footer__header {
    text-align: left;
    padding: 16px 0;
  }

  .footer__header__logo-container {
    height: 56px;

    flex-basis: 50%; 
  }

  .footer__header__social {
    text-align: right;
    margin: initial;

    flex-basis: 50%;
  }

  .footer__copyright {
    text-align: left;
    padding: 24px 0;
  }

  .footer__copyright:after {
    content: "";
    display: table;
    clear: both;
  }

  .footer__copyright__text {
    font-size: 16px;
    font-size: 1rem;

    line-height: 36px;

    margin-bottom: initial;
    width: initial;
    float: left;
  }

  .footer__copyright__logo {
    width: 64px;
    float: left;

    margin-left: 16px;
  }
}