/*
  Property values
*/

//
// Mobile
// ------------------------------------------------------------------------

.property-values {

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

// Property values example
.property-values__example {
  flex-grow: 1;
  flex-basis: 40%;
  margin-right: 16px;
  margin-bottom: 16px;

  h3, p {
    @include fonts__sans-serif;
    line-height: 1.4;
    margin-bottom: 0;
  }
  
  .property-values__example__address {
    margin-bottom: 16px;
  }
}

.property-values__example:nth-of-type(2n) {
  margin-right: 0;
}

.property-values__example__image {
  width: 100%;
  margin-bottom: 16px;
  border-radius: 4px;
  border: 1px solid #000;
}

.property-values__example__name {
  font-size: 16px;
  font-weight: 700;
  color: #000;
}

.property-values__example__address {
  font-size: 14px;
  font-weight: 100;
  color: $color__accent-gray;
}

.property-values__example__actual-value-label,
.property-values__example__value-label {
  font-size: 14px;
  font-weight: 400;
}

.property-values__example__value {
  font-size: 16px;
  font-weight: 700;
  color: $color__catholic-flourish;
  padding-bottom: 8px;
  border-bottom: 1px solid #000;
}

.property-values__example__value:after {
  content: "";
  display: table;
  clear: both;
}

.property-values__example__value__year {
  font-weight: 400;
  font-size: 14px;
  float: right;
  color: #000;
  position: relative;
  top: 4px;
}

.property-values__example__actual-value-label {
  padding-top: 8px;
}

.property-values__example__actual-value {
  color: #000;
  font-size: 20px;
  font-weight: 700;
}

//
// Very small mobile
// ------------------------------------------------------------------------

@media only screen and (max-width: 325px) { 
  
  .property-values__example__value__year {
    float: left;
    width: 100%;
  }
}

//
// Desktop
// ------------------------------------------------------------------------

@include break-point('at least', 'small') {

  .property-values__example {
    flex-grow: 1;
    flex-basis: 25%;
    margin-right: 24px;
    margin-bottom: 24px;
  }
}