/*
  Property search
*/

//
// Mobile
// ------------------------------------------------------------------------

// Search input
.property-search__field {
  @include search-input("standard", "right", "true");

  margin-bottom: 24px;

  button {
    max-width: 24px;
  }
}


// Search results
.property-search__results {
  margin-bottom: 16px;
}

// Search item
$result-item-text-line-height: 1.4;
$color__council-name-border-gray: #979797;

.property-search__results__item {
  @include fonts__sans-serif;

  display: flex;
  flex-wrap: wrap;

  border: 1px solid #000;
  border-radius: 4px;

  padding: 16px 8px 8px 8px;
  margin-bottom: 16px;

  h3, p {
    @include fonts__sans-serif;
  }
}

.property-search__results__item__name {

  flex-grow: 10;
  flex-basis: 100%;

  font-size: 16px;
  font-weight: 700;
  line-height: $result-item-text-line-height;

  border-bottom: 1px solid $color__council-name-border-gray;
  padding-bottom: 4px;
  margin-bottom: 8px;
}

.property-search__results__item__properties-count-label {

  order: 1;

  flex-grow: 10;
  flex-basis: 100%;

  font-size: 14px;
  line-height: $result-item-text-line-height;

  margin-bottom: 0;
}

.property-search__results__item__properties-count {

  order: 2;

  flex-grow: 10;
  flex-basis: 100%;

  font-size: 16px;
  font-weight: 700;
  line-height: $result-item-text-line-height;

  margin-bottom: 4px;
}

.property-search__results__item__properties-value-label {

  order: 3;

  flex-grow: 10;
  flex-basis: 100%;

  font-size: 14px;
  line-height: $result-item-text-line-height;

  margin-bottom: 0;
}

.property-search__results__item__properties-value {

  order: 4;

  flex-grow: 10;
  flex-basis: 100%;

  color: $color__catholic-flourish;

  font-size: 16px;
  font-weight: 700;
  line-height: $result-item-text-line-height;

  margin-bottom: 0;
}

// Search results not found
.property-search__results__not-found {
  display: none;

  background: $color__athens-gray;
  text-align: center;
  min-height: 100px;

  padding: 16px;

  position: relative;
}

.property-search__results__not-found.is--active {
  display: block;
}

.property-search__results__not-found__message {
  margin-bottom: 0;

  @include fonts__sans-serif;
  font-size: 14px;
  line-height: 1.4;

  color: $color__gray--dark;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.property-search__results__not-found__message__search-query {
  font-weight: 700;
}

// Disclaimer
.property-search__disclaimer {
  @include fonts__sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

//
// Desktop
// ------------------------------------------------------------------------

@include break-point("at least", "small") {

  // Search results item
  .property-search__results__item__properties-count-label {

    flex-grow: 5;
    flex-basis: 50%;
  }

  .property-search__results__item__properties-count {

    order: 3;

    flex-grow: 5;
    flex-basis: 50%;

    font-size: 16px;
    font-weight: 700;
    line-height: $result-item-text-line-height;

    margin-bottom: 0;
  }

  .property-search__results__item__properties-value-label {

    order: 2;

    flex-grow: 2;
    flex-basis: 50%;

    font-size: 14px;
    line-height: $result-item-text-line-height;
    text-align: right;
  }

  .property-search__results__item__properties-value {

    flex-grow: 5;
    flex-basis: 50%;

    text-align: right;
  }

}