/*
  Property types
*/

//
// Mobile
// ------------------------------------------------------------------------

.property-types {

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.property-types__example {
  flex-grow: 1;
  flex-basis: 40%;
  margin-right: 16px;
  margin-bottom: 16px;

  h3, p {
    @include fonts__sans-serif;
    line-height: 1.4;
    margin-bottom: 0;
  }
  
  .property-types__example__address {
    margin-bottom: 16px;
  }
}

.property-types__example:nth-of-type(2n) {
  margin-right: 0;
}

.property-types__example__image {
  width: 100%;
  margin-bottom: 16px;
  border-radius: 4px;
  border: 1px solid #000;
}

.property-types__example__type {
  @include fonts__sans-serif;
  letter-spacing: 1px;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 700;
  
  color: $color__catholic-flourish;
}

.property-types__example__name {
  font-size: 16px;
  font-weight: 700;
  color: #000;
}

.property-types__example__address {
  font-size: 14px;
  font-weight: 100;
  color: $color__accent-gray;
}

.property-types__example__value-label {
  font-size: 14px;
  font-weight: 400;
}

.property-types__example__value {
  font-size: 16px;
  font-weight: 700;
  color: $color__catholic-flourish;
}

//
// Desktop
// ------------------------------------------------------------------------

@include break-point('at least', 'small') {

  .property-types__example {
    flex-grow: 1;
    flex-basis: 25%;
    margin-right: 24px;
    margin-bottom: 24px;
  }

  .property-types__example:nth-of-type(2n) {
    margin-right: 24px;
  }

  .property-types__example:nth-of-type(3n) {
    margin-right: 0;
  }
}