/*
  Property summary
*/ 

//
// Mobile
// ------------------------------------------------------------------------

.property-summary {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

// Property summary outer 'article-section' container (i.e. property-summary's parent)
.property-summary-section {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

// Property summary figure
.property-summary__figure {
  flex-grow: 1;
  flex-basis: 50%;

  text-align: center;
} 

.property-summary__figure__image {
  max-height: 60px;
  margin-bottom: 16px;
}


.property-summary__figure__label,
.property-summary__figure__number {
  @include fonts__sans-serif;
  font-weight: 700;
  line-height: 1.4;
  font-size: 15px;

  text-align: center;

  max-width: 150px;
  margin: 0 auto;
}

.property-summary__figure__number {
  color: $color__brand;
}

.property-summary__figure__label {
  color: $color__dove-gray;
}

//
// Desktop
// ------------------------------------------------------------------------

@include break-point("at least", "small") {

  // Property summary figure
  .property-summary__figure {
    flex-grow: 1;
    flex-basis: 25%;
  }

  .property-summary__figure__image {
    max-height: 80px;
  }
}