/*
  Property gallery
*/

//
// Mobile
// ------------------------------------------------------------------------

// Carousel
.property-gallery__carousel {

  position: relative;
  font-size: 0;

  overflow: hidden;
}

.property-gallery__carousel__control {

  position: absolute;
  top: 0;
  z-index: $levels__property-gallery-control;

  display: block;
  border: none;
  height: 100%;
  width: 15%; 
  padding: 0;

  background: transparent;
  outline: none;

  cursor: pointer;

  transition: background 350ms ease;

  img {
    width: 60%;
    position: absolute;

    top: 50%;

    transform: translateY(-50%);
  }
}

.property-gallery__carousel__left-button {
  
  left: 0;

  img {
    left: 20%;
  }
}

.property-gallery__carousel__right-button {

  right: 0;

  img {
    right: 20%;
  }
}

.property-gallery__carousel__image {
  width: 100%;
}

// Details
.property-gallery__details {

  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  padding: 16px 0;

  h3, p {
    @include fonts__sans-serif;
    line-height: 1.4;
    margin-bottom: 0;
  }
}

.property-gallery__details__essentials {
  flex-grow: 1;
  flex-basis: 40%;
}

.property-gallery__details__essentials__name {
  font-size: 16px;
  font-weight: 700;
  color: #000;
}

.property-gallery__details__essentials__address {
  font-size: 14px;
  font-weight: 100;
  color: $color__accent-gray;
}

.property-gallery__details__value {
  flex-grow: 1;
  flex-basis: 40%;
  text-align: right;
}

.property-gallery__details__value__label {
  font-size: 12px;
  font-weight: 400;
}

.property-gallery__details__value__figure {
  font-size: 16px;
  font-weight: 700;
  color: $color__catholic-flourish;
}

// Footer
.property-gallery__footer {
  
  @include fonts__sans-serif;
  font-style: italic;
  color: $color__footnote-text;
  font-size: 13px;
  line-height: 1.4;

  padding: 16px;
  background: $color__gray--very-light;
  border-top: 1px solid $color__border-red;

  overflow: hidden; 
}

//
// Desktop
// ------------------------------------------------------------------------

@include break-point("at least", "small") {

  .property-gallery__details__essentials__address,
  .property-gallery__details__value__figure,
  .property-gallery__details__essentials__name {
    font-size: 20px;
  }

  .property-gallery__details__value__label {
    font-size: 14px;
  }


  .property-gallery__carousel__control {
    width: 10%;
  }

  .property-gallery__carousel__control:hover {
    background: RGBA(0,0,0,0.65);
  }

  .property-gallery__carousel__control:active {
    background: RGBA(0,0,0,0.8);
  }

}