
  
  .article-leaderboard-ad {
    margin: 0 20px 24px 20px;
    padding: 5rem 0 0 0;
  }

  .article-leaderboard-ad__inner {
    max-width: 1130px;
    padding: 24px 0;
    margin: 0 auto;
    border-bottom: 2px solid #0a1633;
  }

  /* For tablets and above  SCSS*/
  /* @include break-point("at least", "small") {

    .article-leaderboard-ad__inner{
      padding: 32px 0;
      margin: 0 auto;
      border-bottom: 3px solid $color__brand;
    }
  } */

/* 
  .article-header{
    padding: 0 1.2rem 1.2rem 1.2rem !important;

  } */
 
  .ad-wrapper {
    text-align: center;
  }

    small{
      line-height: 1;
      font-family: 'PT Sans', 'Trebuchet MS', 'Arial Narrow', sans-serif;
      width: 100%;
      margin: 0 auto;
      color: #707070;
      font-size: 0.5625rem;
    }
 
  .ad-wrapper__ad {
    display: none;
  }


@media only screen and (min-width: 600px) {
    .article-leaderboard-ad__inner {
        padding: 32px 0;
        margin: 0 auto;
        border-bottom: 3px solid #0a1633
    }

}

