/*-=-=-= Libraries =-=-=-*/
@import "lib/ffx-prez-styles/_ffx-prez-styles";

/*-=-=-= Base =-=-=-*/
@import "base/_app";

/*-=-=-= Layouts =-=-=-*/
@import "layouts/_article-header";
@import "layouts/_article-section";
@import "layouts/_article-credits";
@import "layouts/_property-summary";
@import "layouts/_bar-chart";
@import "layouts/_footer";
@import "layouts/_property-types";
@import "layouts/_property-values";
@import "layouts/_property-gallery";
@import "layouts/_property-search";
@import "layouts/_featured-suburb-list";

/*-=-=-= Modules =-=-=-*/
@import "modules/_loader";
@import "modules/_header-nav";

/*-=-=-= State =-=-=-*/
/*@import "state/_body--mobile";*/

/*-=-=-= Other =-=-=-*/


.loader-container {
    top: 47px;
}

.pullquote {
    font-weight: 200;
    font-size: 1.5rem;
    line-height: 2rem;
    color: #999;
    padding: 25px 50px 25px 25px;
    text-align: center;
}

.pullquote{
    font-family: 'Abril Titling Bold';
    font-size: 22px;
    color: #222222;
    font-style: italic;
    letter-spacing: 0;
    line-height: 27px;
    border-top: 1px solid #D7DBE3;
    border-bottom: 1px solid #D7DBE3;
    margin-top: 40px;
}
.infogram-embed {
   margin: 10% 0;
}

a.alinks{
    text-decoration: none;
    color: #096dd2;
}
a.alinks:hover{
    text-decoration: underline;
}
.article-section__subsection img {
    width: 100%;
}

section#first-article-section {
    padding-bottom: 0;
}

.image__source {
    padding: 10px 16px;
    background: #f4f5f7;
    border-top: 1px solid #D0011B;
}


.image__source p {
    font-family: 'PT Sans', 'Trebuchet MS', 'Arial Narrow', sans-serif;
    margin: 0;
    font-size: 15px;
    color: #4A4A4A;
}
.image__source .image__source__photographer {
    font-size: 13px;
    font-style: italic;
}

#first-article-section{
    margin-top: 50px;
}

.caption_holder{
    max-width: 719px;
    margin: 0 auto;
    text-align: left;
}

.caption{
    font-family: 'PT Sans';
font-size: 14px;
color: #717171;
letter-spacing: 0;
line-height: 24px;

}

.hideDiv{
    display: none;
}
.showDiv{
    display: block;
}


.image__source_header{
        padding: 4px 0;
         border-top: none; 
         color: #717171;
         font-size: 14px;
         background: none;
         border: none;
}

