/*
  Header navigation
*/

//
// Mobile
// ------------------------------------------------------------------------

// Header navigation
.header-nav {

  width: 100%;
  height: 48px;

  background: $color__brand;

  z-index: $levels__header-nav;
  position: fixed;
  top: 0;
  left: 0;

  text-align: center;
}

// Header navigation logo
.header-nav__logo {

  max-width: 65%;
  display: inline-block;
  height: 100%;
  position: relative;

// Header navigation logo image
  $logo-width-size-percentage: 0.75;

  &.is--the-age {
    $the-age-logo-width: 284px;

    width: $the-age-logo-width * $logo-width-size-percentage;

    .header-nav__logo__image {
      background-size: contain;
      background-image: url(lib/ffx-prez-styles/assets/images/logos/fairfax/theage.svg);
    }
  }
  &.is--smh {
    $smh-width: 376px;

    width: $smh-width * $logo-width-size-percentage;

    .header-nav__logo__image {
      background-size: contain;
      background-image: url(lib/ffx-prez-styles/assets/images/logos/fairfax/smh.svg);
    }
  }
  &.is--bt {
    $bt-width: 294px;

    width: $bt-width * $logo-width-size-percentage;

    .header-nav__logo__image {
      background-size: contain;
      background-image: url(lib/ffx-prez-styles/assets/images/logos/fairfax/brisbanetimes.svg);
    }
  }
  &.is--wa-today {
    $wa-today-width: 178px;
    width: $wa-today-width * $logo-width-size-percentage;

    .header-nav__logo__image {
      background-size: contain;
      background-image: url(lib/ffx-prez-styles/assets/images/logos/fairfax/watoday.svg);
    }
  }
}

.header-nav__logo__image {

  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

// Header navigation logo link
.header-nav__logo__link {

  display: block;
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 100000;
}

.header-nav__back {
  @include button('small', 'dynamic', 'hollow--reversed', false);

  text-transform: uppercase;

  position: absolute;
  left: 8px;
  top: 50%;
  transform: translateY(-50%);
}

.header-nav__back__carat {
  transform: rotate(90deg);
  font-size: 0.8em;
  pointer-events: none;
}

.header-nav__back__text {
  display: none;
  pointer-events: none;
}

.header-nav__back__link {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  display: block;
  pointer-events: all !important;
}

/*
  
  <button class="header-nav__back">
    <svg height="1em" 
         width="1em" 
         aria-hidden="true" 
         focusable="false"
         class="header-nav__back__carat">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-carat"></use>
    </svg>
    <span class="header-nav__back__text">Back</span>
    <a class="header-nav__back__link" href="#"></a>
  </button>
*/

//
// Desktop
// ------------------------------------------------------------------------

@include break-point("at least", "small") {

  // Header navigation
  .header-nav {
    height: 56px;
  }

  .header-nav__logo {
    max-width: 100%;
  }
  .header-nav__back__text {
    display: inline;
  }

  .header-nav__back {
    left: 20px;
  }
}