/*
  Loader
*/

.loader {
  @include loader("standard");
}

.loader-container {
  @include loader-container();

  z-index: $levels__loader;
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100vh;
  background: #fff;

  display: none;
}

.loader-container.is--active {
  display: block;
}